
<form action="/" method="POST" enctype="multipart/form-data">
<div class="input-group mb-3">
  <input
    name="name"

    type="text"
    class="form-control"
    placeholder="user name"
    aria-label="Имя пользователя"
    aria-describedby="basic-addon1"
  />
</div>

<div class="input-group mb-3">
  <input
    name="email"
    type="email"
    class="form-control"
    placeholder="email"
    aria-label="Имя пользователя получателя"
    aria-describedby="basic-addon2"
  />
</div>
<div class="input-group mb-3">
  <input

    name="phone"
    type="number"

    class="form-control"
    placeholder="number"
    aria-label="Имя пользователя получателя"
    aria-describedby="basic-addon2"
  />
</div>
<div class="input-group mb-3">
  <input
    name="description"
    type="text"
    class="form-control"
    placeholder="description"
    aria-label="description"
    aria-describedby="basic-addon2"
  />
</div>
<div class="input-group mb-3">
  <input type="file" name="photo" class="form-control" id="inputGroupFile01" />
</div>
<div>
  <button type="submit" class="btn btn-outline-primary" style="margin: 5px;">Отправить</button>
</div>
</form>

