<div class="header">
<ul class="nav justify-content-end">
<button type="button" class="btn btn-outline-primary"  style="margin: 5px;"><a href="/login">Вход</a> </button>
<button type="button" class="btn btn-outline-primary" style="margin: 5px;"><a href="/out">Выход</a></button>
</ul>
</div>

