
<div class="witrina">
  <div class="witrina1">
<div class="d-flex justify-content-between flex-wrap">

<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/watches2.jpeg' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">Dragon the waves</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/watches3.jpeg' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">Black skies</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/third.jpeg' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">English style</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
</div>
</div>
  <div class="witrina1">
<div class="d-flex justify-content-between flex-wrap">

<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/watches4.jpeg' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">Golden Dragon</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/watches5.jpeg' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">
Roman ornament
</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
<div class="card" style="max-width: 250px; height: auto">
  <img src='/img/watches6.png' class="card-img-top" alt='...'>
  <div class="card-body">
    <h5 class="card-title">
Exquisite flower</h5>
    <label for="toggle-heart" aria-label="like">❤</label></p>
  </div>
</div>
</div>

  <div class="witrina2">
<div class="d-flex justify-content-between flex-wrap">
  <div class="card" style="max-width: 355px; height: auto">
  <div class="text-center">
    <div class="sketchfab-embed-wrapper"> <iframe title="Old Watch" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/da2b0da129944281a61954cca10b54a4/embed"> </iframe> 
    </div>
    <p><h5>
English ornament</h5><input id="toggle-heart" type="checkbox"/>
<label for="toggle-heart" aria-label="like">❤</label></p>
</div>
  </div>
  <div class="card" style="max-width: 355px; height: auto">
  <div class="text-center">
  <div class="sketchfab-embed-wrapper"> <iframe title="Patek Philippe Two-Crown Worldtime" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/8dcbe0f77aba4a58ada60048387b12c8/embed"> </iframe> 
  </div>
    <p><h5>
Sand classic</h5><input id="toggle-heart" type="checkbox"/>
<label for="toggle-heart" aria-label="like">❤</label></p>
</div>
  </div>
  <div class="card" style="max-width: 355px; height: auto">
  <div class="text-center">
    <div class="sketchfab-embed-wrapper"> <iframe title="Old pocket watch" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/3de961297e0d4f228d0f5d01527ee64f/embed"> </iframe> 
    </div>
    <p><h5>Retro style</h5>
<input id="toggle-heart" type="checkbox"/>
<label for="toggle-heart" aria-label="like">❤</label></p>
</div>
</div>
</div>

